@import "../../material.scss";

.products {
  &__container {
    display: flex;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
    padding: 50px;
    &--nav {
      align-self: flex-start;
      flex-grow: 3;
      margin-top: 2rem;
      ul {
        list-style-type: none;
      }
      li {
        padding: 10px;
      }
      .last-li {
        margin-top: 20px;
      }

      a.active {
        font-weight: bold;
        text-decoration: underline;
      }
    }

    &--right {
      width: 80%;
      h1 {
        font-size: 2rem;
      }
      .right__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, auto));
        grid-gap: 1rem;
        &--card {
          padding: 5px;
          display: flex;
          flex-direction: column;
          h2 {
            font-weight: lighter;
            height: 30px;
          }
          img {
            max-width: 200px;
          }
          button {
            cursor: pointer;
            a {
              color: #fff;
            }
          }
        }
      }
    }
  }

  &__top {
    width: 80%;
    font-weight: lighter;

    h2 {
      font-size: 2rem;
    }

    &--link {
      margin: 20px 0;
      .col-4 {
        img {
          max-width: 200px;
        }
        a {
          color: #000;
          font-weight: lighter;
        }
        h2 {
          margin: 0;
        }
      }
    }
  }

  button {
    cursor: pointer;
    margin: 5px 0;
    width: 120px;
    padding: 8px 15px;
    border-radius: 5px;
    background: $accent-color;
    color: #fff;
  }

  &__detail {
    width: 80%;
    &--card {
      display: flex;
      .discription {
        padding: 35px;
        display: flex;
        flex-direction: column;
        h2 {
          font-size: 2rem;
        }
        button {
          width: 200px;
        }

        &__makeup {
          display: flex;
          justify-content: space-between;
          margin: 10px 0;

          input[type="radio"] {
            display: none; /* ラジオボタンを非表示にする */
          }

          input[type="radio"]:checked + label {
            border: 1.2px solid rgb(66, 66, 66);
          }

          label {
            border: solid 1px rgb(187, 187, 187);
            border-radius: 5px;
            padding: 8px;
            width: 60px;
            &:hover {
              border-color: rgb(92, 92, 92);
            }
          }

          div {
            border-radius: 50%;
            width: 30px;
            height: 30px;
          }
          p {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

.error {
  color: red;
}
@include tablet {
  .products {
    &__container {
      width: 90vw;
      padding: 0;
      flex-direction: column;
      &--nav {
        ul {
          display: flex;
          flex-wrap: wrap;
          padding: 0;
        }
        .last-li {
          margin-top: 0;
        }
      }
      &--right {
        width: 90%;
        .right__grid {
          grid-template-columns: repeat(auto-fill, minmax(100px, auto));
          &--card {
            height: 300px;
            h2 {
              height: 100px;
            }
            img {
              max-width: 150px;
            }
          }
        }
      }
    }

    &__top {
      width: 90%;
      &--header{
        img {
          max-width: 300px;
        }
        &-text {
          p {
            font-size: 1rem;
          }
        }
      }
    }

    &__detail {
      width: 90%;
      &--card {
        flex-direction: column;
        .media {
          img {
            max-width: 250px;
          }
        }
        .discription {
          padding: 20px 5px;
          p {
            font-size: 1rem;
          }
          &__makeup{
            flex-wrap: wrap;
            justify-content: flex-start;
            label {
              margin: 5px;
            }
            p {
              font-size: .7rem;
            }
          }
        }
      }
    }

  }
}
