@import "../../index.scss";

.cart {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 50px auto;
  ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-between;
    padding: 0;
  }
  li:first-child {
    flex-grow: 2;
  }
  li {
    width: 150px;
  }
  &__header {
    border-bottom: 1.2px solid #000;
  }
  &__flex {
    display: flex;
    justify-content: space-around;
  }

  &__total {
    text-align: right;
  }
}
