@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,700&display=swap');
@import "./material.scss";


* {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

h1,h2,h3 {
    font-weight: 500;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
    &:visited {
      color: transparent;
    }
  }

button {
    outline: none;
    border: none;
}


.fab {
    height: 50px;
    width: 50px;
}

.errorpage {
    max-width: 500px;
    margin: 0 auto;
    height: 50vh;
    h1 {
        font-weight: lighter;
        font-size: 4rem;
        text-align: center;
        color: $accent-color;
        background: -webkit-linear-gradient(
          0deg,
          #acb6e5,
          #86fde8
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
      }
      h2, a {
        text-align: center;
          font-size: 1.5rem;
      }
      a {
          text-decoration: underline;
      }
}

